@model Tuple<List<ChatManager.Models.User>, List<ChatManager.Models.ChatMessage>>

@{
    ViewBag.Title = "Conversations";
}


<div style="display: grid; grid-template-columns: 65px auto; align-items: center;">
    <img src="~/favicon.png" style="width: 56px;" />
    <h3>Conversations</h3>
    <hr />
</div>

<div id="ConversationsList">
    @{Html.RenderPartial("ConversationsList");}
</div>

@section Scripts {
    <script defer>
        $(function () {
            setInterval(function () {
                $('#ConversationsList').load('/Chat/ConversationsList/');
            }, 3000);
        });
    </script>
}
