@model IEnumerable<ChatManager.Models.User>
@{
    ViewBag.Title = "Index";
}
<div style="display: grid; grid-template-columns: 65px auto; align-items: center;">
    <img src="~/friendships.png" style="width: 56px;" />
    <h3>Gestion des amitiés</h3>
</div>

<hr />
<div style="display: grid; grid-template-columns: 295px 35px; align-items: center;">
    <input type="search" id="Search" placeholder="Recherche" class="form-control" runat="server"/>
    <a href="/Friendships/SetSearchText/">
        <span id="SearchButton" class="icon fa fa-search" style="padding-left: 10px;"></span>
    </a>
</div>
<div class="friendfilters">
    <input type="checkbox" id="FilterNotFriend" class="filter" checked />
    <label for="FilterNotFriend" class="fa green fa-plus-circle" title="Afficher/Masqer les usagers qui ne sont pas encore ami avec vous."></label>
    <input type="checkbox" id="FilterRequest" class="filter" checked />
    <label for="FilterRequest" class="fa green fa-check" title="Afficher/Masqer les usagers qui vous ont envoyé une demande d'ami."></label>
    <input type="checkbox" id="FilterPending" class="filter" checked />
    <label for="FilterPending" class="fa green fa-clock-o" title="Afficher/Masqer les usagers a qui vous avez envoyé une demande d'ami"></label>
    <input type="checkbox" id="FilterFriend" class="filter" checked />
    <label for="FilterFriend" class="fa green fa-check-circle" title="Afficher/Masqer les usagers qui sont ami avec vous."></label>
    <input type="checkbox" id="FilterDenied" class="filter" checked />
    <label for="FilterDeclined" class="fa red fa-times-circle" title="Afficher/Masqer les usagers qui vous ont bloqué."></label>
    <input type="checkbox" id="FilterBlocked" class="filter" checked />
    <label for="FilterBlocked" class="fa red fa-ban" title="Afficher/Masqer les usagers qui vous ont bloqué."></label>
</div>
<hr />

<div id="friendshipListContainer">
    @{Html.RenderPartial("FriendshipsList");}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script defer>
        $("#SearchButton").click(() => {
            var searchText = $("#Search").val().toLowerCase();
            $.ajax({
                url: '/Friendships/SetSearchText',
                data: { text: searchText },
                type: 'post',
                success: function (data) {
                    console.log('Succes');
                }
            });
        });

        $(function () {
            setInterval(function () {
                $('#friendshipListContainer').load('/Friendships/FriendshipsList');
            }, 2000);
        });
    </script>
}
